.home-story .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.home-story .slick-dots li {
    width: 15px;
    height: 15px;
    border: 1px solid #f74d6c;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
}

.home-story .slick-dots li button {
    display: none;
}

.home-story .slick-dots li.slick-active {
    background-color: #f74d6c;
}

.home-contact .text .direct-contact li a i {
    padding-right: 8px;
}