.swal-text {
    text-align: center;
}

.image-preview.hide {
    display: none;
}

.nice-select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    line-height: 20px;
}

.nice-select .list {
    display: block;
    width: 100%;
}