.swal-text {
    text-align: center;
}

.main-menu.menu-dark .navigation > li.open .hover > a {
    background: transparent; }

.main-menu.menu-dark .navigation > li ul li > a:hover {
    background-color: #38445a !important;
}

.image-preview.hide {
    display: none;
}